{% capture fullPath %}/{{ section }}/{{ name }}{% endcapture %}
{% capture altCaption %}{% if alt %}{{ alt }}{% else %}{{ caption }}{% endif %}{% endcapture %}

{%- if link -%}<a href="{{ link }}">{%- endif -%}
    {% responsiveImage fullPath, altCaption, imgTitle, width, height %}
{%- if link -%}</a>{%- endif -%}
